#wrapper {
    color: #ccc;
    font-family: "Cantarell Light";
    font-size: 20pt;
}

#song_title {
    font-weight: bold;
    font-size: 32pt;
    color: #ffffff;
}

#playback_status {
    margin-bottom: 0.5rem;
}
